#game-container {
    display:flex;
    flex-direction: column;
    width: 89vw;
    height: 89vh;
    overflow:hidden;
}

tr {
    display:flex;
    flex-grow: 1;
}

td {
    
    border: none;
    flex-grow: 1;
}

.board-row {

}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

        
